#page-body {
    display: flex;
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center children horizontally */
    text-align: center; /* Center text in paragraphs */
    margin-top: 20px; /* add some spacing from the top */
}

.phone.number, .opening.hours, .email.adress {
    margin: 10px 0; /* add spacing between paragraphs */
}
