#product_list {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between; 
}

.product-item {
    flex: 1 0 30%; 
    margin: 15px; 
}

.product-image {
    max-width: 100%; 
    height: auto; 
}

.card {
    border: 1px solid #ddd; 
    border-radius: 5px; 
    overflow: hidden; 
}

#pagination_controls button {
    padding: 8px 16px; 
    font-size: 16px;  
    min-width: 40px; 
}

#pagination_controls {
    display: flex;
    justify-content: center;
    margin-top: 20px; 
}
